In [24]:
import glob
import math
import matplotlib.pyplot as plt
import numpy
import pandas
import pickle

pandas.set_option('display.width', 600)

In [25]:
with open('../Data/allplayerFantasyGameLogs.pickle', 'rb') as handle:
    games = pickle.load(handle)

In [26]:
games.head()

   GAME_DATE SEASON_ID  Player_ID     Game_ID      MATCHUP WL  MIN  FGM  FGA  FG_PCT    ...     PTS  PLUS_MINUS  DouBL  TriBL  FanPTs        fullName  position1  Team  OpponentTeam  HomeGame
0 2015-10-27     22015     101126  0021500003    NOP @ GSW  L   19    0    1   0.000    ...       0         -21  False  False    6.50   Nate Robinson         PG   NOP           GSW         0
1 2015-10-27     22015     202389  0021500002    CLE @ CHI  L   21    2    6   0.333    ...       5          -1  False  False   16.75  Timofey Mozgov          C   CLE           CHI         0
2 2015-10-27     22015     202087  0021500003    NOP @ GSW  L   27    4    5   0.800    ...       8          -8  False  False   20.25      Alonzo Gee         SF   NOP           GSW         0
3 2015-10-27     22015       2581  0021500001    DET @ ATL  W   16    1    6   0.167    ...       3         -14  False  False   10.00     Steve Blake         PG   DET           ATL         0
4 2015-10-27     22015     202710  0021500002  CHI vs. CLE  W   37    6   14   0.429    ...      17           3  False  False   32.25    Jimmy Butler         SG   CHI           CLE         1

[5 rows x 34 columns]

In [27]:
with open('../Data/PlayerFeaturesTable_02_29_2016.pickle', 'rb') as handle:
    players = allplayerFeaturesTable = pickle.load(handle)

In [28]:
pastwinners = pandas.read_csv('../Scraping/NumberFire/numberFireBestTeam.csv')
# strip '$' from Salary, convert to integer
pastwinners['Salary'] = pastwinners['Salary'].map(lambda ele: int(ele.replace('$', '')))

In [29]:
print pastwinners.head()

       Date              PlayerName Position  Salary  Pts   R   A  S  T   B  FP
0  11-17-15  Hassan Whiteside (MIA)        C    8100   22  14   0  0  4  10  62
1  11-17-15    Reggie Jackson (DET)       PG    7700   23   6  12  1  5   0  50
2  11-17-15       Brook Lopez (BKN)        C    7100   24  10   1  1  1   3  47
3  11-17-15      Kemba Walker (CHA)       PG    6400   31   4   1  3  1   1  46
4  11-17-15  Danilo Gallinari (DEN)       SF    6200   32   8   8  0  3   0  55

In [30]:
# split past winners by date
gb = pastwinners.groupby('Date')
groups = [gb.get_group(x) for x in gb.groups]

In [31]:
# calculate distribution of positions each week
df = pandas.DataFrame()

for row_num in range(0, len(groups)):
    position_counts = groups[row_num]['Position'].value_counts(sort=True)
    date = groups[row_num]['Date'].unique()
    lineup = pandas.Series(date).append(position_counts)
    df[row_num] = lineup

df = df.transpose()
df.columns = ['Date', 'PG', 'PF', 'C', 'SG', 'SF']
df.head()

       Date PG PF  C SG SF
0  11-22-15  2  2  2  1  1
1  11-23-15  3  2  1  1  1
2   2-18-16  3  2  1  1  1
3   1-27-16  1  2  2  2  1
4   1-24-16  1  1  1  2  3

In [32]:
# for each position, calculate average, sd, min and max
print 'Order: Mean, STD, Min, Max'
for pos in ['PG', 'PF', 'C', 'SG', 'SF']:
    print pos  + ' ' + str(df[pos].mean()) + ' ' + str(df[pos].std())+ ' ' + str(df[pos].min()) + ' ' + str(df[pos].max())

Order: Mean, STD, Min, Max
PG 1.90909090909 0.695640772178 1 3
PF 1.65151515152 0.644322524169 1 3
C 1.40909090909 0.495433694307 1 2
SG 1.43939393939 0.585170267892 1 3
SF 1.54545454545 0.612229674898 1 3

In [33]:
# consider total cost by date
weeklycost = numpy.array([group['Salary'].sum() for group in groups])
print weeklycost

[49200 49000 49900 50000 48500 49400 49200 49700 48900 49500 49700 48200
 49400 49800 49700 49600 50000 49100 49700 50000 49800 49100 49700 48800
 50000 49900 49900 49900 50000 49500 49900 50000 49300 49900 49500 49700
 49900 49900 49700 49900 49700 49800 48500 49800 48100 49800 49600 49500
 48700 49800 49800 49100 48900 49500 49600 49700 49100 49500 49400 49900
 50000 49600 49600 49900 49200 49600]

In [34]:
# consider mean and std of winning lineup cost
print weeklycost.mean()
print weeklycost.std()

49522.7272727
448.159689662

In [35]:
df = pandas.read_csv('../Data/SalaryHistory/2015-11-16.csv', sep=';')
# remove $ and , characters to convert salary to integer
df['DK Salary'] = df['DK Salary'].map(lambda ele: int(ele.replace('$', '').replace(',','')))
df.head()

       Date   GID Pos                Name  Starter  DK Pts  DK Salary Team H/A Oppt  Team Score  Oppt Score Minutes                                     Stat line
0  20151116  4382  PG     Knight, Brandon        1   78.00       7000  pho   H  lal         120         101   40.78    30pt 10rb 15as 4st 2to 3trey 11-23fg 5-7ft
1  20151116  4079  PG  Westbrook, Russell        1   72.00      12200  okc   A  mem         114         122   38.53    40pt 4rb 14as 3st 8to 5trey 13-19fg 9-13ft
2  20151116  4523  PG     Lillard, Damian        1   47.75       8700  por   A  sas          80          93   41.97  27pt 7rb 6as 1st 1bl 3to 1trey 10-21fg 6-6ft
3  20151116  3979  PG        Conley, Mike        1   46.50       6000  mem   H  okc         122         114   31.38           22pt 4rb 9as 2st 4trey 8-13fg 2-3ft
4  20151116  4073  PG       Rose, Derrick        1   41.50       5900  chi   H  ind          96          95   33.22       23pt 2rb 6as 2st 1bl 2trey 9-18fg 3-4ft

In [14]:
pastwinners.loc[pastwinners['Date'] == '11-17-15']

,Date,PlayerName,Position,Salary,Pts,R,A,S,T,B,FP
0,11-17-15,Hassan Whiteside (MIA),C,8100,22,14,0,0,4,10,62.00
1,11-17-15,Reggie Jackson (DET),PG,7700,23,6,12,1,5,0,50.00
2,11-17-15,Brook Lopez (BKN),C,7100,24,10,1,1,1,3,47.00
3,11-17-15,Kemba Walker (CHA),PG,6400,31,4,1,3,1,1,46.00
4,11-17-15,Danilo Gallinari (DEN),SF,6200,32,8,8,0,3,0,55.00
5,11-17-15,Kristaps Porzingis (NY),PF,5900,29,11,0,0,1,1,46.75
6,11-17-15,Will Barton (DEN),SG,4700,17,7,2,1,1,2,35.75
7,11-17-15,Ersan Ilyasova (DET),PF,3800,20,6,2,1,0,0,34.50

In [42]:
# look at popular past winners
print 'Number of Dates: ' + str(len(pastwinners['Date'].unique()))
print 'Past Winners:           Frequency: '
print pastwinners['PlayerName'].value_counts()

Number of Dates: 66
Past Winners:           Frequency:
John Wall (WSH)                  11
Brook Lopez (BKN)                 9
Chris Paul (LAC)                  8
James Harden (HOU)                8
Dwyane Wade (MIA)                 8
DeMarcus Cousins (SAC)            8
Kyle Lowry (TOR)                  7
Stephen Curry (GS)                7
Jimmy Butler (CHI)                6
Paul Millsap (ATL)                6
Giannis Antetokounmpo (MIL)       6
Jerami Grant (PHI)                6
Hassan Whiteside (MIA)            6
Kevin Durant (OKC)                6
Jrue Holiday (NO)                 6
Thaddeus Young (BKN)              5
Paul George (IND)                 5
Pau Gasol (CHI)                   5
Kemba Walker (CHA)                5
Robin Lopez (NY)                  5
Russell Westbrook (OKC)           5
Serge Ibaka (OKC)                 5
Anthony Davis (NO)                5
Kenneth Faried (DEN)              5
Michael Carter-Williams (MIL)     5
Isaiah Thomas (BOS)               5
Carmelo Anthony (NY)              4
Luol Deng (MIA)                   4
Reggie Jackson (DET)              4
D'Angelo Russell (LAL)            4
                                 ..
Troy Daniels (CHA)                1
Josh Smith (HOU)                  1
Marco Belinelli (SAC)             1
Mario Hezonja (ORL)               1
Jusuf Nurkic (DEN)                1
Nerlens Noel (PHI)                1
Derrick Williams (NY)             1
Drew Gooden (WSH)                 1
Aaron Brooks (CHI)                1
Omer Asik (NO)                    1
Kris Humphries (PHX)              1
Jason Smith (ORL)                 1
E'Twaun Moore (CHI)               1
Shelvin Mack (UTAH)               1
Al-Farouq Aminu (POR)             1
Larry Nance Jr. (LAL)             1
Jose Calderon (NY)                1
Marcus Morris (DET)               1
Andrew Wiggins (MIN)              1
Devin Booker (PHX)                1
Tyler Zeller (BOS)                1
Ersan Ilyasova (ORL)              1
Dwight Powell (DAL)               1
Rodney Hood (UTAH)                1
Kobe Bryant (LAL)                 1
Bradley Beal (WSH)                1
Spencer Hawes (CHA)               1
JaVale McGee (DAL)                1
Wesley Johnson (LAC)              1
Ed Davis (POR)                    1
Name: PlayerName, dtype: int64

In [16]:
# combine historical data into one dataframe

list = []
for file in glob.glob('../Data/SalaryHistory/*.csv'):
    list.append(pandas.read_csv(file, sep=';'))

pastsalaries = pandas.concat(list)

# drop NA values
pastsalaries = pastsalaries.dropna()

# remove $ and , characters to convert salary to integer
pastsalaries['DK Salary'] = pastsalaries['DK Salary'].astype(str).map(lambda ele: int(ele.replace('$', '').replace(',','')))

pastsalaries.head()

,Date,GID,Pos,Name,Starter,DK Pts,DK Salary,Team,H/A,Oppt,Team Score,Oppt Score,Minutes,Stat line
0,20160306,4224,SG,"Harden, James",1,71.75,10500,hou,A,tor,113,107,42.68,40pt 5rb 14as 1st 1to 3trey 11-20fg 15-19ft
1,20160306,4079,PG,"Westbrook, Russell",1,49.50,10800,okc,A,mil,104,96,38.83,15pt 10rb 11as 1st 1bl 7to 1trey 3-7fg 8-11ft
2,20160306,4369,PG,"Jackson, Reggie",1,48.75,6600,det,H,por,123,103,34.08,30pt 1rb 9as 2st 1to 1trey 11-19fg 7-7ft
3,20160306,4885,SG,"Booker, Devin",1,47.50,4800,pho,A,mem,109,100,42.82,27pt 2rb 9as 1st 1bl 3to 4trey 8-17fg 7-7ft
4,20160306,3891,PG,"Lowry, Kyle",1,42.00,8800,tor,H,hou,107,113,38.28,17pt 4rb 9as 3st 3to 4trey 5-10fg 3-5ft

In [17]:
# look at salary and DK points correlation across all players
pastsalaries['DK Pts'].corr(pastsalaries['DK Salary'])

0.6593116497213225

In [18]:
# look at salary and DK points correlation across past winners
pastwinners['Pts'].corr(pastwinners['Salary'])

0.53014724730430951

In [19]:
plt.scatter(pastsalaries['DK Salary'], pastsalaries['DK Pts'])
plt.show()

In [20]:
# look to see whether some players' performance can be predicted from their salaries
player_corr_coeff = []

for player in pastsalaries['Name'].unique():
    
    salariesbyplayer = pastsalaries[pastsalaries['Name'] == player]
    
    #plt.scatter(salariesbyplayer['DK Salary'], salariesbyplayer['DK Pts'])
    #plt.show()
    
    corr_coeff = salariesbyplayer['DK Pts'].corr(salariesbyplayer['DK Salary'])
    
    if not math.isnan(corr_coeff):
    
        player_corr_coeff.append((player, corr_coeff))
    
player_corr_coeff = sorted(player_corr_coeff, key=lambda x: x[1], reverse=True)

# print results
# for player in player_corr_coeff:
#     print player[0] + ': ' + str(player[1])

/usr/local/lib/python2.7/dist-packages/numpy/lib/function_base.py:2079: RuntimeWarning: Degrees of freedom <= 0 for slice
  warnings.warn("Degrees of freedom <= 0 for slice", RuntimeWarning)